<h2>
<a href="http://github.com/onsi/ginkgo">
    <img src="images/ginkgo_small.png" class="img-responsive header_logo">
</a>
</h2>

<ul class="nav">
    <li>
        <a href="#获取-ginkgo">获取 Ginkgo</a>
    </li>
    <li>
        <a href="#入门-第一个测试">入门:第一个测试</a>
        <ul class="nav">
            <li>
                <a href="#引导套件">引导套件</a>
            </li>
            <li>
                <a href="#添加-specs-到你的套件">添加 Specs 到你的套件</a>
            </li>
            <li>
                <a href="#marking-specs-as-failed">Marking Specs as Failed</a>
            </li>
            <li>
                <a href="#日志输出">日志输出</a>
            </li>
            <li>
                <a href="#ide-support">IDE Support</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#构建-specs">构建 Specs</a>
        <ul class="nav">
            <li>
                <a href="#individual-specs-it"><code>It</code> Blocks</a>
            </li>
            <li>
                <a href="#extracting-common-setup-beforeeach"><code>BeforeEach</code> & <code>AfterEach</code> Blocks</a>
            </li>
            <li>
                <a href="#organizing-specs-with-containers-describe-and-context"><code>Describe</code> & <code>Context</code> Containers</a>
            </li>
            <li>
                <a href="#separating-creation-and-configuration-justbeforeeach"><code>JustBeforeEach</code> Blocks</a>
            </li>
            <li>
                <a href="#global-setup-and-teardown-beforesuite-and-aftersuite"><code>BeforeSuite</code> & <code>AfterSuite</code> Blocks</a>
            </li>
            <li>
                <a href="#documenting-complex-its-by"><code>By</code> Docs</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#spec-执行器">Spec 执行器</a>
        <ul class="nav">
            <li>
                <a href="#pending-specs">Pending Specs</a>
            </li>
            <li>
                <a href="#focused-specs">Focused Specs</a>
            </li>
            <li>
                <a href="#spec-permutation">Spec Permutation</a>
            </li>
            <li>
                <a href="#parallel-specs">Parallel Specs</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#理解-ginkgo-的生命周期">理解 Ginkgo 的生命周期</a>
        <ul class="nav">
            <li>
                <a href="#avoiding-test-pollution">Avoiding Test Pollution</a>
            </li>
            <li>
                <a href="#patterns-for-dynamically-generating-tests">Dynamically Generating Tests</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#异步测试">异步测试</a>
    </li>
    <li>
        <a href="#ginkgo-cli">Ginkgo CLI</a>
        <ul class="nav">
            <li>
                <a href="#running-tests">Running Tests</a>
            </li>
            <li>
                <a href="#watching-for-changes">Watching for Changes</a>
            </li>
            <li>
                <a href="#precompiling-tests">Precompiling Tests</a>
            </li>
            <li>
                <a href="#generators">Generators</a>
            </li>
            <li>
                <a href="#avoiding-dot-imports">Avoiding Dot Imports</a>
            </li>
            <li>
                <a href="#converting-existing-tests">Converting Existing Tests</a>
            </li>
            <li>
                <a href="#other-subcommands">Other Subcommands</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#基准测试">基准测试</a>
        <ul class="nav">
            <li>
                <a href="#测量时间">测量时间</a>
            </li>
            <li>
                <a href="#recording-arbitrary-values">Recording Arbitrary Values</a>
            </li>
        </ul>        
    </li>
    <li>
        <a href="#共享示例模式">共享示例模式</a>
        <ul class="nav">
            <li>
                <a href="#locally-scoped-shared-behaviors">Locally-scoped Shared Behaviors</a>
            </li>
            <li>
                <a href="#global-shared-behaviors">Global Shared Behaviors</a>
            </li>
        </ul>        
    </li>
    <li>
        <a href="#ginkgo与持续集成">Ginkgo与持续集成</a>
    </li>
    <li>
        <a href="#插件">插件</a>
        <ul class="nav">
            <li>
                <a href="#table-driven-tests">Table Driven Tests</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#编写自定义报告器">编写自定义报告器</a>
    </li>
    <li>
        <a href="#第三方集成">第三方集成</a>
        <ul class="nav">
            <li>
                <a href="#using-other-matcher-libraries">Using Other Matcher Libraries</a>
            </li>
            <li>
                <a href="#integrating-with-gomock">Integrating with Gomock</a>
            </li>
            <li>
                <a href="#generating-junit-xml-output">Generating JUnit XML Output</a>
            </li>
        </ul>
    </li>
</ul>

